
.App-header {
  
  max-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: blue;
}

.content-data{
  max-width: 600px;
  margin: 0 auto;
}

